body{
    background-color: #f00;
}
.box{
    height: 400px;
    width: 400px;
    background: linear-gradient(transparent,  #0009);
    margin:auto;
    border-radius: 7px;
    margin-top: 20px;
    border-top: 6px solid #900;
    margin-top: 20px;


}
h1{
    color: white;
    margin: 0;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;

}